{% extends "index.html" %}

{% block main %}

<h1 class="text-2xl font-sans text-purple-800">
    Square Cards
</h1>

<ul class="py-12">
    {% for deck in decks %}

    <li class="py-4">
        <a href="/action/{{ deck.id }}/0/from">
            <span class="rounded-md bg-purple-700 px-5 py-3 text-sm font-semibold text-yellow-50 shadow-sm hover:bg-purple-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-50">
                {{ deck.from_language }} - {{ deck.to_language_primary }}
            </span>
        </a>
    </li>

    {% endfor %}
</ul>

{% endblock %}